body {
    background-color: #f0f8f0;
    position: relative;
    min-height: 100vh;
}

.weather-box {
    background: #e9f7ef;
    animation: fadeIn 1.5s ease-in-out;
    border-radius: 10px;
}
